In [39]:
import pandas as pd

In [40]:
data = pd.read_csv('data.csv')

In [41]:
data.columns

Index(['client_id', 'gender', 'birth_date', 'create_date', 'nonresident_flag',
       'businessman_flag', 'city', 'term', 'contract_sum',
       'product_category_name', 'card_id', 'card_type_name', 'start_date',
       'fact_close_date', 'purchase_sum', 'purchase_count',
       'current_balance_avg_sum', 'current_balance_sum',
       'current_debit_turn_sum', 'current_credit_turn_sum', 'card_type'],
      dtype='object')

In [42]:
data = data.drop(['client_id', 'businessman_flag', 'term', 'card_id'], axis=1)

In [43]:
data.columns

Index(['gender', 'birth_date', 'create_date', 'nonresident_flag', 'city',
       'contract_sum', 'product_category_name', 'card_type_name', 'start_date',
       'fact_close_date', 'purchase_sum', 'purchase_count',
       'current_balance_avg_sum', 'current_balance_sum',
       'current_debit_turn_sum', 'current_credit_turn_sum', 'card_type'],
      dtype='object')

In [44]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371583 entries, 0 to 371582
Data columns (total 17 columns):
gender                     371583 non-null object
birth_date                 371583 non-null int64
create_date                371583 non-null object
nonresident_flag           371583 non-null object
city                       370415 non-null object
contract_sum               371583 non-null float64
product_category_name      371583 non-null object
card_type_name             318638 non-null object
start_date                 318638 non-null float64
fact_close_date            132176 non-null float64
purchase_sum               371583 non-null float64
purchase_count             371583 non-null int64
current_balance_avg_sum    371583 non-null float64
current_balance_sum        371583 non-null float64
current_debit_turn_sum     371583 non-null float64
current_credit_turn_sum    371583 non-null float64
card_type                  371583 non-null object
dtypes: float64(8), int64(2), object(7)
memory usage: 48.2+ MB

In [45]:
data['nonresident_flag'].value_counts()

R    361915
N      9668
Name: nonresident_flag, dtype: int64

In [46]:
data = data[data['city'].notna()]

In [47]:
data['product_category_name'].value_counts()

Договор на текущий счет для дебетовой карты    351401
Кредитная карта                                 19014
Name: product_category_name, dtype: int64

In [48]:
data['card_type'].value_counts()

dc    352394
cc     18021
Name: card_type, dtype: int64

In [49]:
data = data.drop(['card_type', 'create_date'], axis=1)

In [50]:
data = data[data['start_date'].notna()]

In [51]:
data.isna().sum()

gender                          0
birth_date                      0
nonresident_flag                0
city                            0
contract_sum                    0
product_category_name           0
card_type_name                  0
start_date                      0
fact_close_date            185858
purchase_sum                    0
purchase_count                  0
current_balance_avg_sum         0
current_balance_sum             0
current_debit_turn_sum          0
current_credit_turn_sum         0
dtype: int64

In [52]:
data['is_open'] = data['fact_close_date'].isna()

In [53]:
data['is_open'].value_counts()

True     185858
False    131690
Name: is_open, dtype: int64

In [54]:
data['fact_close_date'] = data['fact_close_date'].fillna(2022)

In [55]:
data.isna().sum()

gender                     0
birth_date                 0
nonresident_flag           0
city                       0
contract_sum               0
product_category_name      0
card_type_name             0
start_date                 0
fact_close_date            0
purchase_sum               0
purchase_count             0
current_balance_avg_sum    0
current_balance_sum        0
current_debit_turn_sum     0
current_credit_turn_sum    0
is_open                    0
dtype: int64

In [56]:
data['usage_time'] = data['fact_close_date'] - data['start_date']

In [57]:
data["is_open"] = data["is_open"].astype(int)

In [58]:
data

,gender,birth_date,nonresident_flag,city,contract_sum,product_category_name,card_type_name,start_date,fact_close_date,purchase_sum,purchase_count,current_balance_avg_sum,current_balance_sum,current_debit_turn_sum,current_credit_turn_sum,is_open,usage_time
0,Ж,1985,R,Гусь-Хрустальный,0.0,Договор на текущий счет для дебетовой карты,Visa Platinum Rewards,2019.0,2021.0,16600.0,71,39700.0,25700.0,220600.0,201000.0,0,2.0
1,М,1951,R,Ишимбай,0.0,Договор на текущий счет для дебетовой карты,VISA Classic,2019.0,2022.0,0.0,0,1900.0,1000.0,6200.0,3000.0,1,3.0
3,М,1955,R,Томск,0.0,Договор на текущий счет для дебетовой карты,Visa Rewards,2021.0,2022.0,24300.0,118,0.0,0.0,35400.0,35400.0,1,1.0
4,М,1955,R,Томск,0.0,Договор на текущий счет для дебетовой карты,Eurocard/MasterCard World,2018.0,2022.0,24300.0,118,0.0,0.0,35400.0,35400.0,0,4.0
5,Ж,1980,R,Октябрьский,0.0,Договор на текущий счет для дебетовой карты,МИР Debit,2019.0,2022.0,0.0,0,12700.0,1000.0,15000.0,7800.0,1,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371565,М,1985,R,Нижневартовск,0.0,Договор на текущий счет для дебетовой карты,Eurocard/MasterCard Platinum,2020.0,2022.0,0.0,0,0.0,0.0,0.0,0.0,1,2.0
371566,М,1970,R,Уфа,0.0,Договор на текущий счет для дебетовой карты,МИР СКБ ЗП,2022.0,2022.0,0.0,0,15600.0,15600.0,0.0,0.0,1,0.0
371567,Ж,1961,R,Брянск,0.0,Договор на текущий счет для дебетовой карты,Visa Platinum Rewards,2021.0,2021.0,0.0,0,0.0,0.0,0.0,0.0,0,0.0
371568,Ж,1980,R,Ишимбай,0.0,Договор на текущий счет для дебетовой карты,"Дебет карта ПС МИР ""Бюджетная""",2019.0,2022.0,0.0,0,0.0,0.0,0.0,0.0,1,3.0
371569,М,1997,R,Москва,0.0,Договор на текущий счет для дебетовой карты,MIR Privilege Plus,2022.0,2022.0,0.0,0,0.0,0.0,0.0,0.0,1,0.0

In [59]:
data = data.drop(['start_date', 'fact_close_date'], axis=1)

In [60]:
data['city'].unique()

array(['Гусь-Хрустальный', 'Ишимбай', 'Томск', 'Октябрьский',
       'Нижний Новгород', 'Калтан', 'Туапсе', 'Уфа', 'Туймазы',
       'Нефтекамск', 'Тюмень', 'Санкт-Петербург', 'Белебей', 'Мелеуз',
       'Стерлитамак', 'Белорецк', 'Армавир', 'Сергиев Посад', 'Воронеж',
       'Ставрополь', 'Ярославль', 'Краснодар', 'Челябинск', 'Бураево',
       'Омск', 'Москва', 'Бирск', 'Салават', 'Сибай', 'Старый Оскол',
       'Мраково', 'Екатеринбург', 'Новосибирск', 'Янаул', 'Дюртюли',
       'Набережные Челны', 'Боровичи', 'Киселёвск', 'Кропоткин',
       'Белгород', 'Магнитогорск', 'Ижевск', 'Чусовой', 'Вологда', 'Ейск',
       'Анапа', 'Тверь', 'Верхние Татышлы', 'Кунгур', 'Раменское',
       'Пермь', 'Кумертау', 'Учалы', 'Таганрог', 'Иглино', 'Тула',
       'Тамбов', 'Новокузнецк', 'Одинцово', 'Месягутово', 'Светлый',
       'Брянск', 'Киргиз-Мияки', 'Каневская', 'Смоленск', 'Владимир',
       'Языково', 'Кореновск', 'Юрга', 'Кемерово', 'Осинники',
       'Ростов-на-Дону', 'Верхнеяркеево', 'Дзержинск', 'Давлеканово',
       'Пенза', 'Глазов', 'Прокопьевск', 'Нижневартовск', 'Сочи',
       'Баймак', 'Чишмы', 'Новороссийск', 'Аскино', 'Мегион', 'Рязань',
       'Саратов', 'Покров', 'Сургут', 'Зилаир', 'Жуковский', 'Златоуст',
       'Белово', 'Благовещенск', 'Череповец', 'Толбазы', 'Раевский',
       'Калтасы', 'Сарапул', 'Самара', 'Архангельск', 'Старосубхангулово',
       'Пятигорск', 'Аскарово', 'Геленджик', 'Федоровка', 'Иркутск',
       'Красноярск', 'Миасс', 'Воскресенск', 'Волгоград', 'Серпухов',
       'Бийск', 'Невинномысск', 'Великий Новгород', 'Стерлибашево',
       'Клинцы', 'Старобалтачево', 'Серафимовский', 'Барнаул',
       'Ульяновск', 'Калининград', 'Рославль', 'Воткинск',
       'Красноусольский', 'Орёл', 'Химки', 'Междуреченск', 'Вольск',
       'Надым', 'Курган', 'Архангельское', 'Тимашевск', 'Караидель',
       'Петрозаводск', 'Ковров', 'Исянгулово', 'Курганинск', 'Казань',
       'Приютово', 'Колпино', 'Кандры', 'Липецк', 'Дубна', 'Агидель',
       'Березники', 'Янгантау', 'Ангарск', 'Николо-Березовка', 'Муром'],
      dtype=object)

In [62]:
data = data.drop(['current_credit_turn_sum', 'current_debit_turn_sum', 'current_balance_sum'], axis = 1)

In [75]:
data

,birth_date,contract_sum,purchase_sum,purchase_count,current_balance_avg_sum,is_open,usage_time,gender_Ж,gender_М,nonresident_flag_N,...,card_type_name_VISA Platinum,card_type_name_Visa Classic Rewards,card_type_name_Visa Platinum Rewards,card_type_name_Visa Rewards,card_type_name_Visa Signature,"card_type_name_Дебет карта ПС МИР ""Бюджетная""",card_type_name_МИР Debit,card_type_name_МИР Копилка,card_type_name_МИР СКБ,card_type_name_МИР СКБ ЗП
0,1985,0.0,16600.0,71,39700.0,0,2.0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
1,1951,0.0,0.0,0,1900.0,1,3.0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,1955,0.0,24300.0,118,0.0,1,1.0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
4,1955,0.0,24300.0,118,0.0,0,4.0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
5,1980,0.0,0.0,0,12700.0,1,3.0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371565,1985,0.0,0.0,0,0.0,1,2.0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
371566,1970,0.0,0.0,0,15600.0,1,0.0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
371567,1961,0.0,0.0,0,0.0,0,0.0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
371568,1980,0.0,0.0,0,0.0,1,3.0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
371569,1997,0.0,0.0,0,0.0,1,0.0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [63]:
data.corr()['current_balance_avg_sum']

birth_date                -0.084988
contract_sum               0.021778
purchase_sum               0.127169
purchase_count             0.071691
current_balance_avg_sum    1.000000
is_open                   -0.004525
usage_time                 0.008550
Name: current_balance_avg_sum, dtype: float64

In [64]:
data = pd.get_dummies(data, columns=['gender', 'nonresident_flag', 'city', 'product_category_name', 'card_type_name'])

In [68]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 317548 entries, 0 to 371569
Columns: 189 entries, birth_date to card_type_name_МИР СКБ ЗП
dtypes: float64(4), int64(3), uint8(182)
memory usage: 74.5 MB

In [69]:
y = data['current_balance_avg_sum']
X = data.drop(['current_balance_avg_sum'], axis = 1)

In [71]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [72]:
X_train.shape

(254038, 188)

In [76]:
import xgboost as xgb

In [77]:
data_dmatrix = xgb.DMatrix(data=X_train,label=y_train)

In [79]:
xg_reg = xgb.XGBRegressor(objective ='reg:linear', colsample_bytree = 0.3, learning_rate = 0.1,
                max_depth = 5, alpha = 10, n_estimators = 10)

In [80]:
xg_reg.fit(X_train,y_train)

[23:28:24] WARNING: ../src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(alpha=10, base_score=0.5, booster='gbtree', callbacks=None,
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=0.3,
             early_stopping_rounds=None, enable_categorical=False,
             eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
             importance_type=None, interaction_constraints='',
             learning_rate=0.1, max_bin=256, max_cat_to_onehot=4,
             max_delta_step=0, max_depth=5, max_leaves=0, min_child_weight=1,
             missing=nan, monotone_constraints='()', n_estimators=10, n_jobs=0,
             num_parallel_tree=1, objective='reg:linear', predictor='auto',
             random_state=0, ...)

In [81]:
preds = xg_reg.predict(X_test)

In [89]:
import numpy as np
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_percentage_error
rmse = np.sqrt(mean_squared_error(y_test, preds))
mape = mean_absolute_percentage_error(y_test, preds)
print("RMSE: %f" % (rmse))
print('MAPE: ', mape)

RMSE: 175296.778031
MAPE:  2.454286970375469e+19

In [84]:
preds

array([21075.203,  6351.9  , 10169.106, ..., 18665.336,  7744.77 ,
       12570.075], dtype=float32)

In [85]:
y_test

128041    18900.0
137529        0.0
36900         0.0
202006        0.0
61125      2900.0
           ...
158414        0.0
307975        0.0
259521      400.0
346983     5900.0
170538        0.0
Name: current_balance_avg_sum, Length: 63510, dtype: float64